<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>path101</key>
	<array>
		<string>-200</string>
		<string>0</string>
		<string>-180</string>
		<string>160</string>
		<string>-9</string>
		<string>162</string>
		<string>209</string>
		<string>119</string>
		<string>464</string>
		<string>173</string>
		<string>700</string>
		<string>100</string>
		<string>730</string>
		<string>100</string>
	</array>
	<key>path102</key>
	<array>
		<string>-200</string>
		<string>0</string>
		<string>-180</string>
		<string>160</string>
		<string>-9</string>
		<string>162</string>
		<string>209</string>
		<string>119</string>
		<string>464</string>
		<string>173</string>
		<string>700</string>
		<string>100</string>
		<string>730</string>
		<string>100</string>
	</array>
	<key>path103</key>
	<array>
		<string>-200</string>
		<string>0</string>
		<string>-180</string>
		<string>160</string>
		<string>-3</string>
		<string>199</string>
		<string>219</string>
		<string>161</string>
		<string>462</string>
		<string>158</string>
		<string>700</string>
		<string>100</string>
		<string>730</string>
		<string>100</string>
	</array>
	
	<key>path104</key>
	<array>
		<string>-200</string>
		<string>0</string>
		<string>-180</string>
		<string>160</string>
		<string>52</string>
		<string>171</string>
		<string>270</string>
		<string>125</string>
		<string>451</string>
		<string>180</string>
		<string>700</string>
		<string>100</string>
		<string>730</string>
		<string>100</string>
	</array>
	<key>path105</key>
	<array>
		<string>-200</string>
		<string>0</string>
		<string>-180</string>
		<string>160</string>
		<string>58</string>
		<string>193</string>
		<string>216</string>
		<string>193</string>
		<string>383</string>
		<string>164</string>
		<string>288</string>
		<string>224</string>
		<string>445</string>
		<string>213</string>
		<string>700</string>
		<string>100</string>
		<string>730</string>
		<string>100</string>
	</array>
	
	<key>path106</key>
	<array>
		<string>680</string>
		<string>0</string>
		<string>660</string>
		<string>160</string>
		<string>395</string>
		<string>140</string>
		<string>250</string>
		<string>184</string>
		<string>38</string>
		<string>164</string>
		<string>-220</string>
		<string>100</string>
		<string>-250</string>
		<string>100</string>
	</array>
	
	<key>path107</key>
	<array>
		<string>680</string>
		<string>0</string>
		<string>660</string>
		<string>160</string>
		<string>419</string>
		<string>206</string>
		<string>218</string>
		<string>169</string>
		<string>17</string>
		<string>137</string>
		<string>-220</string>
		<string>100</string>
		<string>-250</string>
		<string>100</string>
	</array>
	
	<key>path108</key>
	<array>
		<string>680</string>
		<string>0</string>
		<string>660</string>
		<string>160</string>
		<string>443</string>
		<string>171</string>
		<string>205</string>
		<string>186</string>
		<string>15</string>
		<string>211</string>
		<string>-220</string>
		<string>100</string>
		<string>-250</string>
		<string>100</string>
	</array>
	<key>path109</key>
	<array>
		<string>680</string>
		<string>0</string>
		<string>660</string>
		<string>160</string>
		<string>431</string>
		<string>210</string>
		<string>242</string>
		<string>253</string>
		<string>14</string>
		<string>170</string>
		<string>-220</string>
		<string>100</string>
		<string>-250</string>
		<string>100</string>
	</array>
	<key>path110</key>
	<array>
		<string>680</string>
		<string>0</string>
		<string>660</string>
		<string>160</string>
		<string>394</string>
		<string>243</string>
		<string>218</string>
		<string>279</string>
		<string>26</string>
		<string>186</string>
		<string>-220</string>
		<string>100</string>
		<string>-250</string>
		<string>100</string>
	</array>
</dict>
</plist>
